body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f0f0f, #2a0000);
  color: white;
}

.home-bg{
  background-image: url("./assets/background.png");
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* NavBar Section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Logo-Part */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 80px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
}

.logo-text {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #ff1a1a;
}

/* Navigation-btns */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
}

.nav-btn a {
  color: #fff;
}

.nav-btn a:hover {
  color: #ff1a1a;
}

.login-btn a {
  background: #ff1a1a;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

.login-btn a:hover {
  background: #fff;
  color: #ff1a1a;
}

/* Hero Section */

.hero {
  text-align: center;
  padding: 100px 20px;
  background: rgba(0, 0, 0, 0.4);
}

.hero-title {
  font-size: 48px;
  color: #ff3333;
  animation: fadeIn 2s ease-in;
}

.primary-btn {
  padding: 10px 20px;
  background: #ff1a1a;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

/* About Section */
.section {
  padding: 80px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

/* Services Section */
.dark {
  background: rgba(0, 0, 0, 0.4);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.services-list {
  list-style: none;
  line-height: 2;
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.testimonial-card {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.footer {
  background: black;
  text-align: center;
  padding: 20px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
} 